body {
    background-color: #f3f4f6; 
    font-family:'Helvetica Neue';
    color: #333; 
}

.container {
    padding-top: 3rem;
    max-width: 90%; 
}

h1 {
    color: #00b377; 
    margin-bottom: 3rem;
    text-align: center; 
    font-size: 2.5rem; 
    font-weight: 500; 
}

table {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease; 
}

th {
    background-color: #00d974; 
    color: #ffffff;
}

th, td {
    padding: 1rem; 
    border: 1px solid #e1e4e8; 
    text-align: left; 
}

tr:hover {
    background-color: #e9ecef; 
}

.endpoint-header {
    background-color: #154e2d; 
    color: #ffffff;
    font-size: 1.25rem; 
    padding: 1rem;
    text-align: center; 
}


*:not(script) {
    transition: background-color 0.3s ease, color 0.3s ease;
}


@media (max-width: 768px) {
    .container {
        padding: 1rem;
        max-width: 100%;
    }

    table {
        font-size: 0.9rem;
    }
}